/**
* @name AMOLEDCOMFY
* @author T3RM1N4L
* @description Stay comfy while talking to your friends
* @invite rtBQX5D3bD
* @version 2.4
* @donate https://ko-fi.com/nyria
*/


@import "https://raw.githubusercontent.com/T3M1N4L/T3M1N4L/main/AMOLEDCOMFY.main.css";

/* ═══════『 ⚠️・Important tips 』═══════
*
*   ➥ To comment or uncomment a line you need to put those "/" and "*" characters as you can see at the beginning and ending of my comments.
*      (You don't need to put a * at each line like I do, it's just for readability). See more here : https://developer.mozilla.org/en-US/docs/Web/CSS/Comments
*
*   ➥ You can play with the values and see how it goes, don't delete "px" after the value if you don't have knowledge of CSS.
*
*   ➥ To change the colors, replace the HEX code with the one you picked here : https://htmlcolorcodes.com
*/

/* ═══════『 🚫 ・ No scrollbars 』- Comment the line below if you want the scrollbar back */
@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css";

/* ═══════『 🎵 ・ Better SpotifyControls seek bar 』- Comment the line below if you don't want this spotify bar */
@import "https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css";

/* ═══════『 🎵 ・ Vencord Spotify Plugin 』- Comment the line below if you don't want this spotify bar FOR VENCORD */
@import "https://comfy-themes.github.io/Discord/betterdiscord/vencord-spotify.css";

:root {
  /* ═══════『 💨 ・ Animations 』- If you don't want a high CPU usage, comment the line below */
  --disable-animations: 2s channel-unread infinite;

  /* ═══════『 ⚙️ / 🎤 / 🎧 ・ User button 』═══════
*
*   ➥ A higher value means more space between the icons and a lower ...
*
*    ℹ️ : If you want to revert those to the old area, join the support server and check #css-snippets
*
*/

  /* Spacing - Default value : 8px */
  --user-buttons-spacing: 8px !important;

  /* Color - Default value : #096DC0 */
  --user-buttons-color: #872bff !important;

  /* ═══════『 ⭕ Roundness settings 』═══════
*
*    ➥ A higher value means more rounded corners and a lower ...
*       0 ➜ Square
*       25 ➜ Circle
*/

  /* Avatars - Default value : 5px */
  --avatar-radius: 10px !important;

  /* Status - Default value : 3px */
  --status-radius: 5px !important;

  /* Servers - Default value : 8px */
  --server-radius: 10px !important;

  /* ═══════『 😃 Colored emoji picker 』═══════
*   Change the value to "100%" if you want the default one */

  --colored-emoji: grayscale(0%) !important;

  /* ═══════『 📜 Server/channel list 』═══════ */

  /* Mention - Default value : #F04747 */
  --mention-color: #ae83ff !important;

  /* Unread - Default value : #7289DA */
  --unread-color: #ffacac !important;

  /*  『 🔴 Mention colors in chat 』 */

  /* Bar on the right - Default value : #C66262 */
  --mention-color-bar: #ae83ff !important;

  /* Background - Default value : #C662621F */
  --mention-color-background: #ec7efb1f !important;

  /* On hover - Default value : #C6626226 */
  --mention-color-hover: #7dffd226 !important;

  /* ═══════『 💬 Chat buttons 』═══════ */

  /* Default value : #7289DA */
  --chat-buttons: #6f6dff !important;

  /* ═══════『 💬 SpotifyControls seek bar 』═══════
*   ℹ️ : If you don't have the plugin : https://betterdiscord.app/plugin/SpotifyControls */

  /* Default value : #1EDC62 */
  --spotify-color: #90ffb7 !important;

  /* ═══════『 🟢 Status 』═══════ */

  /* Online - Default value : #43B581 */
  --online: #84ffc8 !important;

  /* Idle - Default value : #FAA61A */
  --iddle: #ffd07f !important;

  /* Do Not Disturb - Default value : #F04747 */
  --dnd: #ff8484 !important;

  /* Offline - Default value : #747F8D */
  --offline: #1b1c1f !important;

  /* Streaming - Default value : #593695 */
  --streaming: #593695 !important;

  /* ═══════『 🔰 User popout 』═══════ */

  /* Playing wave color */
  --playing: #a784ff !important;

  /* Listening wave color */
  --listening: #52ef89 !important;

  /* Role circle - Default value : 5px */
  --role-circle: 5px !important;

  /* ═══════『 🗑️ Discord logo 』═══════
*   Set it to "block" if you still want it */

  --discord-logo: block !important;
}

.theme-dark {
  --background-primary: #000000 !important;
  --background-secondary: #000000 !important;
  --background-secondary-alt: #000000 !important;
  --background-tertiary: #000000 !important;
  --background-accent: #872bff !important;

  --modal-background: #000000 !important;
  --background-mobile-primary: #000000 !important;
  --background-mobile-secondary: #000000 !important;
  --channeltextarea-background: #000000 !important;
  --background-message-hover: transparent !important;
  --background-modifier-hover: #00000010 !important;
  --background-modifier-active: #0000001a !important;
  --background-modifier-selected: #0000001f !important;
  --deprecated-card-bg: #000000 !important;
  --background-floating: #000000 !important;
  --deprecated-quickswitcher-input-background: #101320 !important;
  --elevation-low: none !important;
  --scrollbar-auto-thumb: #121722 !important;
  --scrollbar-auto-track: #191f2e !important;
  --scrollbar-thin-thumb: #141925 !important;
  --activity-card-background: #101320 !important;
  --input-background: #1e2233 !important;
}

.theme-light {
  --background-primary: #23283d !important;
  --background-secondary: #1e2233 !important;
  --background-secondary-alt: #191f2e !important;
  --background-tertiary: #101320 !important;
  --background-accent: #3964ff !important;
  --background-modifier-hover: #262b41 !important;
  --background-modifier-active: #262b41 !important;
  --modal-background: var(--background-primary) !important;
  --header-primary: #fff !important;
  --header-secondary: #b1b5b9 !important;
  --text-normal: #8e9297 !important;
}


/*Hide original home icon*/
[data-list-item-id=guildsnav___home]>[class^=childWrapper_] {
    display: none;
}
/*Add oneko*/
[data-list-item-id=guildsnav___home]::before {
    content: "";
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/T3M1N4L/DiscordLogos/main/controller_foreground.webp);
}
:root .autocomplete_bcc24e {
  background: #000;
}
.content_eed6a8>:nth-child(n+4):nth-child(-n+5),
.anchor_af404b[aria-label~="Subscriber"],
.anchor_af404b[aria-label~="Boosting"],
.container_da1432,
.customizationSection_b3a5c2:nth-child(5),
.premiumFeatureBorder_c6d722,
.upsellOverlayContainer_eb49af,
.premiumTab_c10c74,
.side_a0>:nth-child(n+10):nth-child(-n+16),
.side_a0>:nth-child(42),
.side_a0>:nth-child(49),
.premiumIcon_f45ea6,
.selectionGroup_bde965 {
  display: none;
}
.messageListItem_d5deea {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.messageListItem_d5deea:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1b1b1b; /*Change this to change the color*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 20px;
  opacity: 30%;
}
.messageListItem_d5deea:hover,
.messageListItem_d5deea:focus,
.messageListItem_d5deea:active {
  color: white;
}
.messageListItem_d5deea:hover:before,
.messageListItem_d5deea:focus:before,
.messageListItem_d5deea:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.cozy_f9f2ca .headerText_f9f2ca > .username_f9f2ca::before {
  content: ''; 
  width: calc(100% + 10px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.2; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  left: -5px;
}
.cozy_f9f2ca .headerText_f9f2ca > .username_f9f2ca {
  margin-left: 5px;
}
.typing_d7ebeb .text_d7ebeb { display: flex; align-items: center;}

.typing_d7ebeb .text_d7ebeb strong { 
    margin: 0 3px;
    line-height: 21px;
    animation: slideUp 300ms;
}
@keyframes slideUp {
    0% { margin-top: -50px;}
    100% { margin-top: 0;}
}
.channelTextArea_a7d72e .buttons_d0696b > * { position: relative; top: -44px;}
.channelTextArea_a7d72e:hover .buttons_d0696b > * { top: 0;}

.appMount_ea7e65 .app_bd26cc { opacity: 0; transition: 0.15s;}
.appMount_ea7e65:hover .app_bd26cc { opacity: 1; transition: 0.15s;}
.appMount_ea7e65:after {
    content: "";
    position: fixed;
    background: url('https://raw.githubusercontent.com/T3M1N4L/T3M1N4L/main/images/XOsX.gif') center/8% no-repeat;
    width: 100%; height: 100%;
    opacity: 1;
}
.appMount_ea7e65:hover:after { opacity: 0; pointer-events: none;}
.role_f9575e {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .4;
  border-radius: 5px;
}
.role_f9575e .roleRemoveIcon_e4010c {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
.role_f9575e .roleRemoveButton_f9575e {
  position: static;
}
.role_f9575e .roleCircle_a26d7b:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}
